* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.search {
  margin: 1em auto;
}

.container {
  background-color: white;
  color: black;
  overflow: auto;
  margin-top: 1em;
  padding: 0.1em;
  border: 3px solid #000;
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;
}

.cuesContainer > div {
  cursor: pointer;
}

.cuesContainer > div:hover {
  text-decoration: underline;
}

.current {
  color: red;
}