* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  clear: both;
  margin-top: 1em;
  font-size: 12px;
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;
}

.timeline {
  font-size: 12px;
  border: solid black 3px;
  clear: both;
}

.container {
  background-color: white;
  opacity: .75;
  padding: 0px;
  font-size: 12px;
  float: left;
  position: relative;
}

.settings {
  background-color: white;
  padding: 0px;
  border: solid black 3px;
  font-size: 12px;
}

.timeMarker {
  position: absolute;
  border: solid black 1px;
  background-color: black;
}

.playHead {
  position: absolute;
  border: solid red 1px;
  background-color: red;
}

.marker {
  position: absolute;
  opacity: 0.5;
  border: solid white 1px;
  cursor: pointer;
  z-index: 1000;
}

.markerContents {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
}

.marker:hover {
  opacity: 1;
}

.annotations {
  color: black;
  background-color: yellow;
}

.overlays {
  color: black;
  background-color: red;
}

.actors {
  color: white;
  background-color: blue;
}

.chapters {
  color: black;
  background-color: green;
}

.rotated {
  -webkit-transform: rotate(90deg) translateX(0px) translateY(0px);
          transform: rotate(90deg) translateX(0px) translateY(0px);
}

.current {
  opacity: 1;
}