* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  background-color: white;
  color: black;
  overflow: auto;
  margin-top: 1em;
  border: 3px solid #000;
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;
}

.current {
  color: red;
}

ol {
  margin: 0.1em;
}

li > span {
  font-style: bold;
  color: black;
  cursor: pointer;
}

li > span:hover {
  text-decoration: underline;
}